@font-face {
  font-family: "TL-Bold";
  src: url(./assets/TitilliumWeb-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "TL-Regular";
  src: url(./assets/TitilliumWeb-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "TL-SBold";
  src: url(./assets/TitilliumWeb-SemiBold.ttf) format("truetype");
}
